hr {
margin-top: 25px;
margin-bottom: 35px;
}
li {
color: blue;
}
code {
text-decoration: underline;
  font-family: Helvetica;
}
nav a:active { 
  color: white; 
  text-decoration: none; 
  font-weight: normal; 
}
nav a:visited { 
  color: white; 
  text-decoration: none; 
  font-weight: normal; 
}
nav a:hover { 
  background-color: white; 
  color: black; 
  text-decoration: none; 
  font-weight: normal; 
}
.caption {
width: 50%;
font-style: italic;
}
#most_important {
background-color: lightgray;
height: 100px;
width: 200px;
}
