hr {
margin-top: 25px;
margin-bottom: 35px;
}
li {
color: blue;
}
code {
text-decoration: underline;
  font-family: Helvetica;
}
.caption {
width: 50%;
font-style: italic;
}
#most_important {
background-color: light-gray;
height: 100px;
width: 200px;
}
