hr {
margin-top: 25px;
margin-bottom: 35px;
}
li {
color: blue;
}
code {
font-family: "Helvetica";
text-decoration: underline;
}
div class="caption" {
width: 50%;
text-decoration: italicize;
}
div id="most_important" {
background-color: light gray;
height: 100px;
width: 200px;
}
