body {
  background-color: #2f4f4f;
}
h1 {
  background-color: black;
  color: white;
  font-family: "Century Gothic";
  font-size: 85px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}
img {
  width: 33.33%;
  height: auto;
}
.column {
  float: left;
  width: 33.33%;
}
.column {
  float: center;
  width: 33.33%;
}
.column {
  float: right;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
