body {
  background-color: #505050;
}
h1 {
  background-color: black;
  color: white;
  font-family: "Century Gothic";
  font-size: 85px;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  float: left;
  width: 25%;
  font-size: 35px;
  font-family: "Century Gothic";
  text-align: center;
  border-color: white;
  border-width: 2px;
  padding: 4px;
}
nav a {
  display: block;
  padding: 8px;
  background-color: #505050;
}
nav a:link {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
nav a:active {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
nav a:visited {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
nav a:hover {
  background-color: white;
  color: #505050;
  text-decoration: none;
  font-weight: normal;
}
img {
  width: 25%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.column1 {
  float: left;
  width: 25%;
}
.column2 {
  float: center;
  width: 25%;
}
.column3 {
  float: right;
  width: 25%;
}

  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  
