h1 {
  background-color: black;
  font-size: 85px;
  font-family: "Century Gothic";
  color: white;
  text-align: center;
.bg-primary text-white {
  margin: 2px;
  padding: 2px;
  border-width: 2px;
  border-color: black;
  border-type: solid;
}
nav a:active { 
  color: white; 
  text-decoration: none; 
  font-weight: normal; 
}
nav a:visited { 
  color: white; 
  text-decoration: none; 
  font-weight: normal; 
}
nav a:hover { 
  background-color: white; 
  color: black; 
  text-decoration: none; 
  font-weight: normal; 
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  float: left;
  width: 25%;
  font-size: 35px;
  font-family: "Century Gothic";
  text-align: center;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
