head {
  background-color: black;
  color: white;
  font-family: "Century Gothic";
  font-size: 85px;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "orange";
  display: table;
  clear: both;
  
